header {
    background-image:url(/home/ksianto/Desktop/Moringa-School-Project/Images/ali-kazal-YE1Omh3OJgg-unsplash.jpg);
    font-family: "Rubik", sans-serif;
    font-size: 0.875em; /* 14px/16=0.875em */;
    font color: white;
    text-align: center